//  https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction
// -------------------------------------------------------------
//  GENERAL SETTINGS
// -------------------------------------------------------------
config-notification {
  disable-failed
}
// Disables client-side decorations
prefer-no-csd
// Default screenshot path (null disables built-in handling)
screenshot-path null
//screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"


// -------------------------------------------------------------
//  INPUT DEVICES
//  https://github.com/YaLTeR/niri/wiki/Configuration:-Input
// -------------------------------------------------------------
input {
  keyboard {
    xkb {
      layout "us"
      variant "intl"
    }
    numlock
  }
  touchpad {

  }
  mouse {
    accel-speed 0.0
    accel-profile "flat"
  }
  trackpoint {

  }
}


// -------------------------------------------------------------
//  DISPLAY / OUTPUTS
//  https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
// -------------------------------------------------------------
output "DP-3" {
  //mode "2560x1440@119.998"
  mode "2560x1440@164.835"
  scale 1
}


// -------------------------------------------------------------
//  GESTURES
// -------------------------------------------------------------
gestures {
  hot-corners {
    off
  }
}


// -------------------------------------------------------------
//  LAYOUT SETTINGS
//  https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
// -------------------------------------------------------------
layout {
  background-color "transparent"
  center-focused-column "never"
  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
  }
  default-column-width {
    proportion 0.5
  }
  border {
    off 
    active-color "#ffffff"
    inactive-color "#d0d0d0"
    urgent-color "#cc4444"
  }
  focus-ring {
    active-color "#000000"
    inactive-color "#505050"
  }
  shadow {
    on
    softness 30
    spread 5
    offset x=0 y=5
    color "#0007"
  }
  struts {

  }
}


// -------------------------------------------------------------
//  ANIMATIONS
// -------------------------------------------------------------
animations {
  workspace-switch {
    spring damping-ratio=0.8 stiffness=523 epsilon=0.0001
  }
  window-open {
    duration-ms 150
    curve "ease-out-expo"
  }
  window-close {
    duration-ms 150
    curve "ease-out-quad"
  }
  horizontal-view-movement {
    spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
  }
  window-movement {
    spring damping-ratio=0.75 stiffness=323 epsilon=0.0001
  }
  window-resize {
    spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
  }
  config-notification-open-close {
    spring damping-ratio=0.65 stiffness=923 epsilon=0.001
  }
  screenshot-ui-open {
    duration-ms 200
    curve "ease-out-quad"
  }
  overview-open-close {
    spring damping-ratio=0.85 stiffness=800 epsilon=0.0001
  }
}


// -------------------------------------------------------------
//  OVERVIEW & UI BEHAVIOR
// -------------------------------------------------------------
overview {
  workspace-shadow {
    off
  }
}
hotkey-overlay {
  skip-at-startup
}


// -------------------------------------------------------------
//  ENVIRONMENT VARIABLES
// -------------------------------------------------------------
environment {
  XDG_CURRENT_DESKTOP "niri"
  XDG_MENU_PREFIX "arch-"
  QT_QPA_PLATFORM "wayland"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  QT_QPA_PLATFORMTHEME "qt6ct"
  QT_QPA_PLATFORMTHEME_QT6 "qt6ct"
  TERMINAL "kitty"
}


// -------------------------------------------------------------
//  STARTUP APPLICATIONS
// -------------------------------------------------------------
spawn-sh-at-startup "wl-paste --watch cliphist store &"
spawn-sh-at-startup "dms run"
spawn-sh-at-startup "gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'"
spawn-sh-at-startup "/usr/lib/mate-polkit/polkit-mate-authentication-agent-1"
spawn-sh-at-startup "/home/akitake/.scripts/toggle-yuancon.sh"


// -------------------------------------------------------------
//  NAMED WORKSPACES
// -------------------------------------------------------------
workspace "first"
workspace "web"
workspace "chat"


// -------------------------------------------------------------
//  WINDOW RULES
//  https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules
// -------------------------------------------------------------
// Workspace placement
window-rule {
  match app-id="zen"
  open-on-workspace "web"
  open-maximized true
}
window-rule {
  match app-id="vesktop"
  open-on-workspace "chat"
  open-maximized true
}

// Floating apps
window-rule {
  match app-id="^bms\\.player"
  match title="LR2oraja"
  match app-id="^gnome-calculator$"
  match app-id="^galculator$"
  match app-id="^blueman-manager$"
  match app-id="^org\\.gnome\\.Nautilus$"
  match app-id="^org\\.kde\\.dolphin$"
  match app-id="^steam$"
  match app-id="^xdg-desktop-portal$"
  match app-id="^org\\.prismlauncher\\.PrismLauncher$"
  match app-id="firefox" title="^Picture-in-Picture$"
  match app-id="zen" title="^Picture-in-Picture$"
  open-floating true
}

// GNOME apps
window-rule {
  match app-id="^org\\.gnome\\."
  draw-border-with-background false
  geometry-corner-radius 12
  clip-to-geometry true
}

// Control panels (non-floating)
window-rule {
  match app-id="^gnome-control-center$"
  match app-id="^pavucontrol$"
  match app-id="^nm-connection-editor$"
  default-column-width {
    proportion 0.5
  }
  open-floating false
}

// Terminal styling
window-rule {
  match app-id="$TERMINAL"
  draw-border-with-background false
}

// Inactive windows
window-rule {
  match is-active=false
  opacity 0.9
}

// Global
window-rule {
  geometry-corner-radius 12
  clip-to-geometry true
}


// -------------------------------------------------------------
//  INCLUDES
// -------------------------------------------------------------
include "binds.kdl"

include "dms/binds.kdl"
include "dms/colors.kdl"
include "dms/layout.kdl"
include "dms/wpblur.kdl"
