theme = "term16_dark"

[editor]
line-number = "relative"
bufferline = "multiple"

[editor.file-picker]
hidden = false

[keys.normal]
C-g = [
    ":write-all",
    ":new",
    ":insert-output lazygit",
    ":buffer-close!",
    ":redraw",
    ":reload-all"
]
